/*bases*/

h2{
    text-align: center;
    color: #d679a6;
    font-size: 4rem;
}

form{
    background-color: #f5c555;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

fieldset{
    padding: 50px;
    margin: 40px;
}

input{
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

legend, label{
    color: white;
}

legend{
    text-align: center;
}

label{
    text-align: left;
}

/* fieldset numéro 1*/

.infoGeneral{
    border: 3px solid #d679a6;
    display: flex;
    flex-wrap: wrap;
}

.formOneFirstLine{
    display: flex;
    gap: 8rem;
    margin: 10px;
}

.formOneSecondLine{
    display: flex;
    gap: 8rem;
    margin: 10px;
}

.formOneThirdLine{
    display: flex;
    justify-content: flex-start;
    gap: 8rem;
    margin: 10px;
}

.formOneLastLine{
    display: flex;
    margin: 10px;
}

#firstName{
    display: flex;
    flex-direction: column;
    width: 650px;
}

#lastName{
    display: flex;
    flex-direction: column;
    width: 650px;
}

#email{
    display: flex;
    flex-direction: column;
    width: 1200px;
}

#birthday{
    display: flex;
    flex-direction: column;
    width: 650px;
}

#age{
    display: flex;
    flex-direction: column;
    width: 650px;
}

#telephone{
    display: flex;
    flex-direction: column;
    width: 1200px;
}


/*fieldset numéro 2*/

.adresse{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: #E59F80;
    border: 3px solid #d679a6;
}

#numCivique{
    display: flex;
    flex-direction: column;
}

#rue{
    display: flex;
    flex-direction: column;
}

#pays{
    display: flex;
    flex-direction: column;
}

#provincedeQc{
    display: flex;
    flex-direction: column;
}

#postalcode{
    display: flex;
    flex-direction: column;
}

select{
    display: none;
    background-color: transparent;
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
}

option{
    background-color: #E59F80;
    padding: 10px;
}

/*section formulaire*/

section{
    margin: 20px;
    padding: 60px;
    padding-bottom: 0;
}

.formThreeLineOne{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.formThreeMidLine{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 10px;
}

.formThreeLastLine{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-top: 70px;
}


#favoriteColor{
    display: flex;
    flex-direction: column;
    height: 25px;
    margin-top: 10px;
    padding: 0;
    border: none;
}

#favoriteImages{
    display: flex;
    flex-direction: column;
    width: 360px;
}

#favoriteMonth{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

#favoriteWeek{
    display: flex;
    flex-direction: column;
}

#website{
    display: flex;
    flex-direction: column;
    width: 650px;
}

#note{
    display: flex;
    margin-right: 580px;
    width: 90%;
}

.slider{
    background-color: #d679a6;
    appearance: none;
    height: 1px;
    border-radius: 25px;
    outline: none;
    margin-top: 40px;
    padding-bottom: 3px;
    padding-top: 3px;
    border: none;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f5c555;
    border: 2px solid #d679a6;
    cursor: pointer;
}

#dateShow{
    display: flex;
    flex-direction: column;
    width: 650px;
}

.field{
    border: none;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-left: 70px;
    margin-right: 55px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
}

.titre-field{
    text-align: left;
    padding: 0%;
}

/* fieldset numéro 3*/

.favoriteMember{
    display: flex;
    justify-content: space-between;
    border: 3px solid #d679a6;
}

/*section du mot de passe*/

.mdp-container{
    padding: 50px;
    margin: 40px;
}

#motdepasse{
    display: flex;
    flex-direction: column;
    width: 70%;
}

/*les boutons*/ 

.btn--form{
    display: flex;
    justify-content: center;
    margin: 50px;
    
}

button{
    position: relative;
    background-color: #f5c555;
    border: 2px solid black;
    margin: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.button:after {
    content: "";
    background-color: #d679a6;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

button:hover{
    box-shadow: 0 5px #d679a6;
    transform: translateY(4px);
}

/*validation du formulaire*/

input:invalid {
    background-color: transparent;
    border: none;
    outline: 2px solid red;
}

/*mediaquery*/

@media screen and (max-width: 1200px){

    /* fieldset 1*/

    .infoGeneral{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .formOneFirstLine{
        display: block;
    }
    
    .formOneSecondLine{
        display: block;
    }
    
    .formOneThirdLine{
        display: block;
    }
    
    .formOneLastLine{
        display: block;
    }  

    #firstName{
        width: 100%;
        margin-bottom: 15px;
    }
    
    #lastName{
        width: 100%;
    }
    
    #email{
        width: 100%;
    }
    
    #birthday{
        width: 125%;
        margin-bottom: 15px;
    }
    
    #age{
        width: 125%;
    }
    
    #telephone{
        width: 100%;
    }

    /*fieldset2*/
    .adresse{
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #numCivique{
        width: 100%;
        margin-bottom: 15px;
    }
    
    #rue{
        width: 100%;
        margin-bottom: 15px;
    }
    
    #pays{
        width: 100%;
        margin-bottom: 15px;
    }
    
    #provincedeQc{
        width: 100%;
        margin-bottom: 15px;
    }
    
    #postalcode{
        width: 100%;
    }

    /*section*/
    section{
    display: block;
    padding-top: 20px;
    }
    
    .formThreeLineOne{
        display: block;
    }
    
    .formThreeMidLine{
    display: block;
    margin: 0;
    }
    
    .formThreeLastLine{
        display: block;
        margin: 0;
    }
    
    
    #favoriteColor{
        width: 100%;
        margin-bottom: 25px;
    }
    
    #favoriteImages{
        width: 100%;
        margin-bottom: 25px;
    }
    
    #favoriteMonth{
        width: 100%;
        margin-bottom: 25px;
    }
    
    #favoriteWeek{
        width: 100%;
        margin-bottom: 25px;
    }
    
    #website{
        width: 100%;
        margin-bottom: 25px;
    }
    
    #note{
        width: 100%;
        margin-bottom: 25px;
    }
    
    #dateShow{
        width: 100%;
        margin-bottom: 25px;
    }
    
    .field{
        display: block;
        margin: 0;
        padding: 0;
    }
    
    .titre-field{
        width: 100%;
    }

    .favoriteMember{
        display: block;
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .mdp-container{
        padding:  0 0 0 50px;
        margin: 30px;
    }
    
    .btn--form{
        margin: 10px;
    }

    button{
        margin:20px;
    }
}




